@import "bootstrap.css";

/* Place white border around the page */
body { margin: 1em; }

h2 + table,
h2 + form {
  margin-top: 1em;
}

/* Make search fields wide */
.search-field { width: 50em; }

.pipe { color: #999999; }